#navbar {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar {
  line-height: 30px;
  background-color: #232323ab;

  /* background-color: #4d4d4da9; */
  transition-duration: 0.5s;
}
.navbar-nav .nav-link {
  /* color: #a68037; */
  color: #a4a4a3;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin-right: 30px;
  display: inline-block;
  position: relative;
}

.navbar-nav .nav-link:hover {
  /* color: #9f7a35; */
  color: #393838;
}

.navbar-nav .nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  /* background: #ffcf58; */
  background: #a4a4a3;
  display: block;
  margin: auto;
  transition: 0.7s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.svg-card a {
  text-decoration: none;
  color: #a4a4a3;
  transition-duration: 1.2s;
}
.svg-card a:hover {
  /* color: #8b6c31; */
  color: #484747;

}

/* NAVBAR WORK ENDS HERE */

/* HEADER WORK START HERE */
header {
  background-image: linear-gradient(rgba(4, 9, 10, 0.3), rgba(4, 9, 30, 0.6)),
    url("./images/office-background.jpg");
  height: 100vh;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  text-align: center;
  color: #fff8f8;
  font-family: serif;
}
.header h1 {
  text-shadow: 0px 10px 20px black;
  /* font-size: 45px; */
  width: 90%;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: serif;
  text-align: center;
}
.header h3 {
  text-shadow: 0px 10px 20px black;
  /* font-size:32px ; */
  width: 90%;
  color: #fff;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: serif;
  text-align: center;
}
.header button {
  /* width: 90%; */
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: serif;
  text-align: center;
  /* display: inline-block; */
  text-decoration: none;
}
.header #navbar {
  text-align: center;
  font-weight: bold;
}
/* HEADER WORK ENDS HERE */

/* TOP CAROUSEL START */
.carous {
  height: 600px;
  width: 100%;
  /* background-color: #272727; */
}

/* FIRST CARDS HADINGS */

.hh {
  text-align: center;
  font-family: serif;
  /* font-weight: bold; */
}
.hh h1 {
  text-decoration: underline;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.hh p {
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.image-1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
/* .image{
    
    background: #e5bf9a;
    height: 850px;
  } */
/* .picture{
    height: 850px ;
    width: 100%;
    justify-content: center;
    padding: 40px;
  } */

/* cards css */
.card button {
  background-color: aliceblue;
  font-family: serif;
  font-weight: bold;
  background-color: lightgray;
}
.card {
  box-sizing: border-box;
  box-shadow: 0px 2px 3px 4px gray;
  color: white;
  width: 100%;
  /* height:100%; */
  border: 1px solid black;
  position: relative;
  margin: 10px;
  overflow: hidden;
}
.card h5 {
  margin-top: 40px;
}

.card img {
  width: 100%;
  height: 100%;
}
.card-body {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  /* right: -100%; */
  /* bottom: -100%; */
  top: -100%;
  /* color: white; */
  background: rgba(0, 0, 0, 0.5);
  /* padding: 20px; */
  box-sizing: border-box;
  transition: all 1.5s;
  /* box-shadow: 0 2px 3px; */
}
.card:hover .card-body {
  transition: all 1.5s;
  top: 0;
}
/* FIRST CAROUSEL WORK ENDS HERE */
.modal-body {
  display: flex;
  width: 100%;
}
#carouselExampleControls {
  width: 100%;
}

.box {
  height: 250px;
  background-color: #232323;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.box button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  width: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.section a {
  text-decoration: none;
  color: #232323;
}
.owl-h1 {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}

/* FIRST OF SECOND MODAL CSS */
.about{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-family: 25px;
}



/* .carousel-inner{
  width: 600px;
} */